.container{
        display: flex;
}
.warehouse-list{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 2rem;
        margin: 2rem;  
        flex-basis: 80%;   
}

@media (max-width : 1024px) and (min-width : 769px) {
        .warehouse-list{
         grid-template-columns: repeat(3,1fr);
        } 
 }

@media (max-width : 768px) and (min-width : 479px) {
       .warehouse-list{
        grid-template-columns: repeat(2,1fr);
       } 
}

@media (max-width : 480px) {
        .container{
                flex-direction: column;
        }
        .warehouse-list{
         grid-template-columns: repeat(1,1fr);
         max-width: max-content;
         margin: auto;
        } 
 }